.mainbody{
    width: 100%;
}

.unit-1{
    border-bottom: 1px solid #DBDBDB;
    margin: 0px 18px;
    height: 60px;
}

.searchicon{
    position: absolute;
    top: 37%;
    left: 25%;
}

.searchdiv{
    position: relative;
    
}

.search{
    text-align: center;
    font-size: 14px;
    width: 216px;
    height: 29px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
}

@media screen and (max-width: 720px) {
    .search{
        display: none;
    }

    .searchdiv{
        display: none;
    }

    .searchicon{
        display: none;
    }
}

input::placeholder{
    color: #8F8F8F;;  
}

.logo3{
    position: relative;
}

.logo3::after{
    content: "5";
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    display: block;
    color: white;
    font-size: 12px;
    text-align: center;
    top: -5px;
    left: 10px;
}

.unit-2{
    margin-top: 30px;
    height: 300px;
}

.mainphoto{
    width: 150px;
    height: 150px;
}

.name{
    font-size: 26px;
    color: #262626;
    margin-right: 30px;
}

.follow{
    width: 99px;
    margin-right: 10px;
}

.arrow{
    width: 39px;
    margin-right: 30px;
}

.information{
    display: flex;
    flex-direction: row;

}

@media screen and (max-width: 720px){
    .information{
        display: flex;
        flex-direction: column;
    }

    .two-btns{
        margin-left: 1%;
        margin-top: 3%;
    }

    .followers{
        display: flex;
        flex-direction: column;
    }

    .unit-2{
        height: 250px;
    }
}
    
.followers{
    display: flex;
    flex-direction: row;
}

.buttons{
    width: 170px;
}

.text{
    width: 50%;
    height: 80%;
    margin-left: 90px;
}

@media screen and (max-width: 720px) {
    .text{
        width: 40%;
        margin-left: 15px;
    }
}

.numbers{
    font-style: 17px;
    font-weight: bold;
    margin-right: 20px;
}

.description{
    width: 100%;
}


.span1{
    font-weight: bold;
}

.span3{
    height: 100px;
}

.unit-3{
    margin-left: 15%;
    height: auto;
}

.story{
    
    width: 40%;
    height: 110px;
}

.storyimg{
    height: 75%;
    width: 60%;
}

.storyspan{
    height: 15%;
    font-style: 14px;
    font-weight: bold;
}

@media screen and (max-width: 720px) {
    .unit-3{
        margin-left: 2%;
        height: auto;
    }

    .story{
        height: 90px;

    }
}

.line{
    height: 1px;
    background-color: #DBDBDB;
    margin: 5% 9% 3% 9%;
    position: relative;

}

.class1{
    margin-left: 5%;
    font-size: 12px;
    color: #262626;
    font-weight: bold;
}

.class2{
    margin-left: 5%;
    font-size: 12px;
    color: #8F8F8F;
    font-weight: bold;
}

.post{
    margin-right: 3%;
}

.tagged{
    margin-left: 5%;
}


.gallerydiv:hover{
    opacity: 0.3;
    cursor: pointer;

}

.lastunit{
    margin-left: 10%;
    margin-top: 3%;
    margin-right: 2%;
}