@import url('https://fonts.googleapis.com/css2?family=Inter:wght@402&display=swap');

.maincontainer{
    background: #E5E5E5;
    width: 1488px;
    height: 1430px;
    padding: 228px 24px 212px 24px;
}

.banner-1{
    background-color: #0B2239;
    position: relative;
    width: 1440px;
    height: 72px;
    
}

.banner-1text{
    color: white; 
    font-family: 'Inter', sans-serif;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 922px;
    height: 40px;
    line-height: 20px;
    font-size: 13px;
    font-weight: normal;
    top: 15px;
    left: 100px;
}

.banner-1link-1{
    color: #4AD295;
    background: #0B2239;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
    border: 0;
    position: absolute;
    width: 86px;
    height: 20px;
    top: 25px;
    right: 265px;
}

.banner-1button-1{
    background-color: #4AD295;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    width: 130px;
    height: 36px;
    position: absolute;
    border: 0;
    border-radius: 2px;
    top: 15px;
    right: 100px;
}

.banner-1link-2{
    width: 110px;
    height: 20px;
    color: white;
    font-weight: 600;
    font-size: 12px;
}

.banner-2{
    background: #2B2627;
    width: 1440px;
    height: 52px;
    position: relative;
    margin: 24px 0px;
}

.banner-2img-1{
    width: 16px;
    height: 16px;
    left: 310px;
    top: 20px;
    position: absolute;
}

.banner-2text{
    color: #FFFFFF;
    width: 689px;
    height: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    left: 340px;
    top: 20px;
    position: absolute;
}

.banner-2img-2{
    width: 16px;
    height: 16px;
    left: 1050px;
    top: 20px;
    position: absolute;
}

.banner-3{
    background: #FFFFFF;
    border-radius: 16px;
    margin: 24px 0px;
    width: 560px;
    height: 72px;
    margin: 72px 0px 24px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.banner-3img{
    width: 36px;
    height: 36px;
    padding: 8px;
    margin: 0px 10px;
}
.banner-3text-1{
    color: #0D0C22;
    width: 347px;
    height: 40px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.banner-3link{
    color: #EA4C89;
    text-decoration: none;
}

.banner-3button-1{
    background: rgba(13, 12, 34, 0.05);
    border-radius: 8px;
    width: 63px;
    height: 28px;
    border: 0;
    padding: 4px 10px;
    margin: 0px 0px 0px 5px;
}

.banner-3text-2{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #0D0C22;
    width: 43px;
    height: 20px;
}

.banner-3button-2{
    background: #EA4C89;
    border-radius: 8px;
    width: 52px;
    height: 28px;
    border: 0px;
    padding: 4px 10px;
    margin: 0px 10px;
}

.banner-3text-3{
    width: 32px;
    height: 20px;
    font-weight: 500;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
}

.banner-4{
    background: #26262B;
    border-radius: 10px;
    width: 560px;
    height: 64px;
    padding: 12px 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.banner-4text-1{
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    margin: 0px 10px;
}

.banner-4link{
    color: #e6842e;
    text-decoration: none;
}

.banner-4button{
    width: 49px;
    height: 28px;
    background: #FFFFFF;
    border-radius: 8px;
    border: 0px;
    padding: 4px 10px;
    margin: 0px 10px;
}

.banner-4text-2{
    width: 29px;
    height: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: #26262B;
}

.globalunit-1{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.banner-5{
    background: rgba(28, 37, 64, 0.95);
    width: 360px;
    height: 206px;
    border-radius: 6px;
    padding: 24px;
    margin: 60px 0px;
    position: relative;
}

.banner-5img{
    margin: 10px 0px;
}

.banner-5text-1{
    color: #FFFFFF;
    width: 312px;
    height: 80px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin: 15px 0px;
}

.banner-5text-2{
    color: #FFFFFF;
    width: 160px;
    height: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    position: absolute;
    bottom: 25px;

}

.banner-5button{
    background: #09B3AF;
    width: 85px;
    height: 32px;
    border-radius: 6px;
    border: 0px;
    cursor: pointer;
    position: absolute;
    right: 75px;
    bottom: 31px;
}

.banner-5text-3{
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    margin: 0px 10px;
}

.banner-5 a{
    color:#FFFFFF;
}

.banner-6{
    width: 360px;
    height: 170px;
    background: #FFFFFF;
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 16px;
    padding: 16px;
    margin: 60px 40px;
}

.banner-6text-1{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #0F181D;
    width: 152px;
    height: 20px;
    margin: 10px 0px;
}

.banner-6text-2{
    width: 328px;
    height: 60px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #687F8C;
    line-height: 20px;
    margin: 22px 0px;
}

.banner-6button-1{
    width: 160px;
    height: 32px;
    font-family: "Roboto", sans-serif;
    background: #EAF0F4;
    color: #687F8C;
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    border: 0px;
    margin-right: 8px;
}

.banner-6button-2{
    width: 160px;
    height: 32px;
    background: #40C1A7;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    border: 0px;
    margin: 0px 8px;
}

.globalunit-2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.banner-7{
    width: 320px;
    height: 260px;
    padding: 32px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(186, 226, 255, 0.15) 23.96%, rgba(229, 217, 255, 0.15) 71.87%, rgba(255, 255, 255, 0.15) 100%), #FFFFFF;
    box-shadow: 0px 8px 32px rgba(10, 3, 89, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-7text-1{
    width: 104px;
    height: 48px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 28px;
    color: #15295A;
    margin-bottom: 0px;
}

.banner-7text-2{
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    width: 256px;
    height: 72px;
    color: #15295A;
    text-align: center;
    margin: 0px 0px 40px 0px;
}

.banner-7button{
    padding: 10px 32px;
    width: 121px;
    height: 44px;
    background: #4A7EFF;
    border-radius: 43px;
    border: 0px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}
.banner-8{
    width: 320px;
    height: 137px;
    background: #FFFFFF;
    box-shadow: 0px 8px 32px rgba(10, 3, 89, 0.1);
    border-radius: 4px;
    margin: 0px 40px;
    padding: 16px;
    position: relative;
}

.banner-8text-1{
    width: 288px;
    height: 60px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin: 12px 0px;
}

.banner-8text-2{
    width: 95px;
    height: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #6666FF;
    position: absolute;
    bottom: 40px;
}

.banner-8button{
    width: 64px;
    height: 33px;
    background: #6666FF;
    border-radius: 4px;
    border: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: white;
    position: absolute;
    right: 40px;
    bottom: 32px;
}